:root {
  --black : #000000;
  background-color: black;
  
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  font-style: var(--black);
}

card-title{
  color: black;
}
background {
  background-color: black;
  background-size: cover;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-size: cover;
  background-repeat: none;
  
}

